fieldset{
    margin-left: 20%;
    width: 50%;
}
#one{
    margin-top: 0px;
    background-color: #99FFFF;
    color: #0C6699;
    font-weight: bold;
    font-size: 20px;	
}

#two{
    height: 300px;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

#two1{
    width: 13%;
    height: 300px;
    float: left;
    text-align: right;
}

#two2{
    vertical-align: middle;
}

#three{
    margin-top: 5px;
    background-color: #99FFFF;
    color: #0C6699;
    font-weight: bold;
    font-size: 20px;	
}

#four{
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}